# Multi-Linear_Regression On Advertising Data-Set

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import pylab as pl

In [2]:
data = pd.read_csv('advertising.csv')
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [3]:
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [5]:
data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [8]:
x = data[['TV', 'Radio', 'Newspaper']]
x.head(2)

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1

In [9]:
y = data['Sales']
y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [11]:
x_train.shape

(160, 3)

In [12]:
y_train.shape

(160,)

In [13]:
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(x_train, y_train)

LinearRegression()

In [14]:
regr.coef_

array([ 0.05298139,  0.11373195, -0.00215905])

In [15]:
regr.intercept_

4.771581320924904

In [16]:
ypred = regr.predict(x_test)
ypred

array([10.97501409,  9.98514773, 24.91337126, 15.19317589, 14.13545934,
       18.89696268, 14.24898067,  9.29366984, 19.26977278, 10.30222614,
       20.71945473, 20.43494449, 21.49976611,  8.93083838, 17.36908646,
       10.88743509, 17.22749304,  9.4997611 , 10.99966917,  8.87839083,
        7.08796807, 19.98826547,  9.23355109,  5.45585857,  8.88104724,
       12.65763207, 13.71768548,  9.49058347, 14.60012388,  6.36584821,
       16.93616826, 20.7197591 , 20.98604381, 16.63177956,  6.08093617,
       24.74448206, 13.76719463, 19.57366233, 16.91304666,  8.30560005])

In [17]:
regr.score(x_test, ypred)

1.0

In [18]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
mean_absolute_error(y_test, ypred)

1.4519607733550841

In [19]:
mean_squared_error(y_test, ypred)

4.008854484470275

In [20]:
r2_score(y_test, ypred)

0.8903923714950279

In [21]:
from sklearn.model_selection import cross_val_score
cv_results = cross_val_score(regr, x_train, y_train, cv = 20)
cv_results

array([0.90151195, 0.76532255, 0.95158681, 0.61726116, 0.76010493,
       0.92140228, 0.78084642, 0.82132964, 0.91239432, 0.86576681,
       0.97595503, 0.90384682, 0.81390535, 0.967323  , 0.85394555,
       0.83893718, 0.81194219, 0.78425304, 0.94403372, 0.85311089])